@font-face{
  font-family:golos-text;
  src: url("fontes/Golos-Text.ttf")
}
body {
    padding-top: 90px;
    padding-left: 30px;
    background: radial-gradient(circle, #a5e2db, #e1eeee, #feffff);
    background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
}

.regis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 600px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.boxtext{
  border: 0;
  border-radius: 5px;
  width: 375px;
  height: 30px;
  border-radius: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  
  
  
}
.botaocad{
  position: absolute;
  left: 50%;                     
  transform: translateX(-50%);   
  bottom: 15px;
  width: 400px;
  height: 60px;
  border-radius: 20px;
  border: 0;
  background-color: #7BD1CA;
  font-family: golos-text;
  font-size: 24px;
}
.fa-address-card{
  font-size: 20px;
  transform: translateY(-158px) translateX(10px)
}
.fa-user{
  font-size: 20px;
  transform: translateY(-344px) translateX(-17px)
}
.fa-envelope{
  font-size: 20px;
  transform: translateY(-280px) translateX(-48px)
} 
.fa-building{
  font-size: 20px;
  transform: translateY(-218px) translateX(-78px)

}
.fa-unlock{
  font-size: 20px;
  transform: translateY(-98px) translateX(-106px)
}
.fa-circle-check{
  font-size: 20px;
  transform: translateY(-36px) translateX(-136px)
}