body{
    background-color: blueviolet;
}
.painel {
    display: flex;
    align-items: center;       
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 12px 25px;
    box-sizing: border-box;
    background: #c1f5de;
    background: linear-gradient(270deg, rgb(161, 243, 206) 2%, rgba(240, 255, 252, 1) 50%, rgba(255, 255, 255, 1) 100%);
    height: 50px;
}   
.profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}


.ferramentas{
  background-color: bisque;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.add{
    background-color: #dedede;
}

.conteudo {
    display: flex;
    background-color: red;
    height:1000px;
    margin-top: 5px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.entiquetas{
    background-color: #dedede;
    padding: 10px;
    height: 950px;
}
.produtos{
    background-color: #dedede;
    height: 970px;
    width:100%;
    padding: 10px;
}
.produto-exemplo{
    background-color: #0be400;
    height: 300px;
    width: 300px;
}