body {
    padding-top: 60px;
    background: radial-gradient(circle, #b7e9e3, #e1eeee, #feffff);
    background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
}

h1 {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.descricao {
    max-width: 470px;
    padding: 20px;
    font-size: 12px;
    border: 1px solid #7BD1CA;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    font-family: "Inter", sans-serif;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.botoes {
    display: flex;
    align-items: center;       
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 12px 25px;
    box-sizing: border-box;
    background: #c1f5de;
    background: linear-gradient(270deg, rgba(193, 245, 222, 1) 2%, rgba(240, 255, 252, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.login {
    display: flex;
    gap: 17px;
    margin-left: auto;
}
.cadastro {
    display: flex;
    gap: 17px;
    margin-left: 17px;
}

.botoes button {
    background-color: #7BD1CA;
    color: #0d1117;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 15px #7BD1CA;
    animation: pulse 1.5s infinite;

}

.cadastro button {
    background-color: #ffffff;
    box-shadow: 0 0 15px #ffffff;
    animation: pulseWhite 1.5s infinite;
}

@keyframes pulse {
    0%, 100% { box-shadow: 0 0 10px #7BD1CA; }
    50% { box-shadow: 0 0 30px #7BD1CA; }
}

@keyframes pulseWhite {
    0%, 100% { box-shadow: 0 0 10px #ffffff; }
    50% { box-shadow: 0 0 30px #ffffff; }
}

