@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-size: sanz-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  background: radial-gradient(circle, #a5e2db, #e1eeee, #feffff);
}
h1 {
  font-size: 35px;
  width: 20vw;
  margin-bottom: 30px;
}
.input-group {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}
label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 16px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 15px;
}
.registrar {
  margin: 10px;
  text-align: center;
}
a {
  font-size: 15px;
  font-weight: bold;
}
.btn-submit { 
  width: 100%;
  max-width: 300px;
  height: 55px;
  border-radius: 20px;
  border: 0;
  background-color: #7BD1CA;
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.2s ease;
  margin: 15px auto 0 auto;
}

.btn-submit:hover {
  background-color: #62beb7;
}
